*node_modules*
!web/*node_modules*
*.db
*.db-shm
*.db-wal
!src/addons/crunchyroll/crunchyroll.db
*.log
*stream_tmp*
/media/*
*override.json
!override.json.example
/src/backend/profilepictures/*
src/telerising/*